# Mac related
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Image and video files
*.ppm
*.jp*g
*.pvn
*.mpeg
*.avi

# Build directory (inc images)
build/Pangolin-hdr.xcodeproj/project.xcworkspace/xcuserdata/akram.xcuserdatad/UserInterfaceState.xcuserstate
build/*/Debug/